{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Simulação Randômica</h2>
    <div class="mb-3">
        <label for="num_simulations" class="form-label">Número de Simulações:</label>
        <input type="number" id="num_simulations" class="form-control" value="1" min="1">
        <label for="num_funcionarios" class="form-label">Número de Funcionários:</label>
        <input type="number" id="num_funcionarios" class="form-control" value="1" min="1">
    </div>

    <div class="mb-3">
        <button id="startSimulation" class="btn btn-primary me-3">Iniciar Simulação Randômica</button>
        <button id="stopSimulation" class="btn btn-danger">Parar Simulação Randômica</button>
    </div>

    <div id="simulationResults">
        <ul id="simulationList" class="list-group"></ul>
        <div id="stats" class="mt-3">
            <p>Média de Tempo de Espera: <span id="mediaEspera"></span> segundos</p>
            <p>Desvio Padrão do Tempo de Espera: <span id="desvioPadraoEspera"></span> segundos</p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var socket = io();

        $('#startSimulation').click(function() {
            $('#simulationList').empty();
            $('#mediaEspera').text('');
            $('#desvioPadraoEspera').text('');

            var numSimulations = $('#num_simulations').val();
            var numFuncionarios = $('#num_funcionarios').val();
            socket.emit('start_random_simulation', { num_simulations: numSimulations, num_funcionarios: numFuncionarios });
        });

        $('#stopSimulation').click(function() {
            socket.emit('stop_random_simulation');
        });

        socket.on('random_simulation_update', function(data) {
            var os_name = data.os_name;
            var item = $('#' + os_name.replace(':', '\\:'));

            if (item.length === 0) {
                var statusClass = data.status === 'in_progress' ? 'list-group-item list-group-item-warning' : 'list-group-item';
                if (data.status === 'pending') {
                    statusClass = 'list-group-item list-group-item-danger';
                }
                var tempo_espera = data.tempo_espera !== undefined ? ', Tempo de Espera: ' + data.tempo_espera.toFixed(2) : '';
                $('#simulationList').append('<li id="' + os_name + '" class="' + statusClass + '">' + os_name + ' - Chegada: ' + data.chegada + ', Serviço: ' + data.servico + ' - Status: ' + data.status + tempo_espera + '</li>');
            } else {
                var statusText = os_name + ' - Chegada: ' + data.chegada + ', Serviço: ' + data.servico + ' - Status: ' + data.status;
                if (data.status === 'in_progress') {
                    statusText += ', Funcionário: ' + data.funcionario + ', Tempo de Espera: ' + data.tempo_espera.toFixed(2);
                }else if (data.status === 'completed') {
                    statusText +=  ', Tempo de Espera: ' + data.tempo_espera.toFixed(2) + ', Tempo de Conclusão: ' + data.tempo_conclusao.toFixed(2);
                }
                item.text(statusText);
                item.removeClass('list-group-item-success list-group-item-info list-group-item-warning list-group-item-danger');
                if (data.status === 'completed') {
                    item.addClass('list-group-item-success');
                } else if (data.status === 'in_progress') {
                    item.addClass('list-group-item-warning');
                } else if (data.status === 'pending') {
                    item.addClass('list-group-item-danger');
                }
            }
        });

        socket.on('random_simulation_complete', function(data) {
            $('#simulationList').append('<li class="list-group-item list-group-item-success">' + data.message + '</li>');
            console.log('random_simulation_complete:', data);
            $('#mediaEspera').text(data.media_espera.toFixed(2));
            $('#desvioPadraoEspera').text(data.desvio_padrao_espera.toFixed(2));
        });

        socket.on('random_simulation_error', function(data) {
            alert(data.error);
        });
    });
</script>
{% endblock %}
