{% extends "base.html" %}

{% block content %}
    <h2>Simulação dos Dados Fornecidos</h2>
    <button id="startSimulation" class="btn btn-primary">Iniciar Simulação</button>
    <div>
        <label for="numFuncionarios">Número de Funcionários:</label>
        <input type="number" id="numFuncionarios" value="1" min="1" max="10">
    </div>
    <div id="simulationResults">
        <ul id="simulationList"></ul>
    </div>
    
    <!-- Importação do jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- Importação do Socket.IO -->
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

    <script>
        $(document).ready(function() {
            var socket = io();

            // Função para iniciar a simulação ao clicar no botão
            $('#startSimulation').click(function() {
                $('#simulationList').empty();  // Limpa a lista de resultados

                var numFuncionarios = $('#numFuncionarios').val();  // Obtém o número de funcionários
                socket.emit('start_simulation', { num_funcionarios: numFuncionarios });  // Envia para o servidor via Socket.IO
            });

            // Recebe atualizações de progresso da simulação
            socket.on('simulation_update', function(data) {
                $('#simulationList').append('<li>Chegada: ' + data.chegada + ', Serviço: ' + data.servico + '</li>');
            });

            // Recebe mensagem de conclusão da simulação
            socket.on('simulation_complete', function(data) {
                $('#simulationList').append('<li>' + data.message + '</li>');
            });

            // Recebe mensagem de erro da simulação
            socket.on('simulation_error', function(data) {
                alert(data.error);
            });
        });
    </script>
{% endblock %}
