{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Upload de Arquivos</h1>
    <form id="upload-form" enctype="multipart/form-data">
        <label for="tc">Arquivo de Tempo de Chegada:</label>
        <input type="file" id="tc" name="tc" required>
        <br>
        <label for="ts">Arquivo de Tempo de Serviço:</label>
        <input type="file" id="ts" name="ts" required>
        <br>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
    <div id="result"></div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        $("#upload-form").on("submit", function(event){
            event.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                url: "/postData",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function(response){
                    $("#result").html(response.success ? '<p>' + response.success + '</p>' : '<p>' + response.error + '</p>');
                },
                error: function(response){
                    $("#result").html('<p>An error occurred: ' + response.responseText + '</p>');
                }
            });
        });
    });
</script>
{% endblock %}
